.mat-dialog-content{
    height: 60%;
    width: 60%;
    border-radius: 20px !important; 
}

/*.mainContentBlock {
    margin-top: 0.4%;
    margin-bottom: 0.4%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 60%;
    height: 55%;
    border: 1px solid #F1F1F3;
    border-radius: 4px;
    background-color: #F5F6F7FA;
  }



.inputContentBlock {
    margin-top: 0%;
    margin-bottom: 0.5%;
    margin-left: 1.5%;
    margin-right: 0.5%;
    width: 45%;
    height: 20%;
    border: 1px solid #F1F1F3;
    border-radius: 2px;
    background-color: #F5F6F7FA;
    position: relative;
    resize: vertical;
  }
  
  .typeContentBlock {
    margin-top: 0%;
    margin-bottom: 0.5%;
    margin-left: 1.5%;
    margin-right: 0.5%;
    width: 50%;
    height: 20%;
    border: 1px solid #F1F1F3;
    border-radius: 2px;
    background-color: #F5F6F7FA;
    position: relative;
    resize: vertical;
  }
*/

.mat-raised-button {
 /* padding: 0 6px 0 6px;
  margin: 6px 8px 6px 25%;*/
  min-width: 88px;  
  font-size: 15px;
  text-align: center;
  text-decoration:none;
  border: 5px;
  border-radius: 8px!important; 
  border-color: grey;
  outline: none;
  color: blue;
  background-color: rgb(228, 228, 228);  
}

.mat-raised-button:hover {
  background-color: rgba(94, 92, 92, 0.2);
}

.inputBox {
    width: 100%;
    height: 100%;
    resize: none;
    border-radius: 20px !important; 
  }
  
  .matInput {
    width: 100%;
    height: 100%;
    max-height: 100%;
    resize: none;
  }
  
  .mat-button-toggle-group{
    height: 3%;
    border-radius: 10px !important; 
  }
  
  .mat-button-toggle-checked {
    background-color: lightskyblue !important;
  }
  
  .mat-button-toggle { 
    font-size: small;
  }
  