<div class="mainLoginScreen">

    <div class="loginBlock">
        <div style="height: 100%;width: 100%;">
            <div class="background_blur">
            </div>
            <mat-card class="matCardBlocks blurOpacityBlock">
                
                <mat-card-content class="loginContent">
                    <div class="LogoBlock">
                        <img src="../../../../assets/images/real-login-logo.svg" class="Logo">
                    </div>
                  
                    <span class="loginText">
                        Welcome to REAL Space
                    </span>
                    <span class="loginText">
                        sign in to get started
                    </span>
                    <img src="../../../assets/images/btn_google_signin_dark_pressed_web.svg" id="googleBtn"
                        (click)="doLogin()">

                </mat-card-content>
            </mat-card>
        </div>
    </div>

</div>